body
{
  background-color:rgb(223, 221, 221);
}

.p
{
    
    margin-top: -70px;
    margin-left: -80px;
}

.main{

    margin-top: 100px;
    margin-left: 560px;
    background-color : white;
    padding: 100px;
    width: 130px;
    height:360px;

   
}

.text
{
    font-family: sans-serif;
    font-stretch: ultra-condensed;
    color: darkgray;
    
}




.plus
{
    border: 0px solid;
    background-color: crimson;
    height: 33px;
    width: 33px;
    border-radius: 25px;
    margin-top: -35px;
    margin-left: 150px;
    text-align: center;
    font-weight: bolder;
    font-size: 30px;
    color: white;
}

.alldiv
{
    height: 50px;
    width: 240px;
    margin-left: -80px;
    margin-top: 40px;
    border-radius: 10px;
    border:1px solid rgb(216, 205, 205);
    box-shadow: 7px 6px rgb(211, 204, 204);
    display: inline-block;
    font-size: 20px;
    font-family: sans-serif;
    font-stretch: ultra-condensed;
    color: darkgray;
    line-height: 20px;
    word-wrap: break-word;
    white-space: pre;
    padding-top: 4px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.tripp
{
  text-decoration: none;
  font-size: 20px;
  font-family: sans-serif;
  font-stretch: ultra-condensed;
  color: darkgray;
}

.todo2
{
    margin-top: 30px;
}

.todo3
{
    margin-top: 30px;
}
.todo4
{
    margin-top: 30px;
}
.todo5
{
    margin-top: 30px;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }


  .popup {
    border: 2px solid tomato;
    margin: 300px 590px auto;
    padding: 40px;
    background: #fff;
    border-radius: 5px;
    height:100px;
    width: 200px;
    position: relative;
    transition: all 5s ease-in-out;
    text-align: center;
  }

 .newlist{
    margin: -10px  auto;
     text-align: center;
     font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: tomato;
 }


 .area{

    border-radius: 3px;
    border: 1px solid tomato;
    width: 150px;
    height: 30px;
    text-decoration: none;
    margin-left: 10px;

}

.button
{
    position: absolute;
    border-radius: 30px;
    background-color: orangered;
    color: white;
    width: 75px;
    height: 41px;
    font-size: 20px;
    border-color: snow;
    text-align: center;
    margin-left: -30px;

}


@media screen and (min-width:360px) and (max-width:640px) {

    body
{
  background-color:rgb(223, 221, 221);
}

.p
{
    
    margin-top: -70px;
    margin-left: -80px;
}

.main{

    margin-top: 100px;
    margin-left: 10px;
    background-color : white;
    padding: 100px;
    width: 100px;
    height:300px;

   
}

.text
{
    font-family: sans-serif;
    font-stretch: ultra-condensed;
    color: darkgray;
    
}




.plus
{
    border: 0px solid;
    background-color: crimson;
    height: 33px;
    width: 33px;
    border-radius: 25px;
    margin-top: -35px;
    margin-left: 120px;
    text-align: center;
    font-weight: bolder;
    font-size: 30px;
    color: white;
}

.alldiv
{
    height: 40px;
    width: 230px;
    margin-left: -80px;
    margin-top: 40px;
    border-radius: 10px;
    border:1px solid rgb(216, 205, 205);
    box-shadow: 7px 6px rgb(211, 204, 204);
    display: inline-block;
    font-size: 20px;
    font-family: sans-serif;
    font-stretch: ultra-condensed;
    color: darkgray;
    line-height: 13px;
    word-wrap: break-word;
    white-space: pre;
    padding-top: 4px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.tripp
{
  text-decoration: none;
  font-size: 20px;
  font-family: sans-serif;
  font-stretch: ultra-condensed;
  color: darkgray;
}

.todo2
{
    margin-top: 30px;
}

.todo3
{
    margin-top: 30px;
}
.todo4
{
    margin-top: 30px;
}
.todo5
{
    margin-top: 30px;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }


  .popup {
    border: 2px solid tomato;
    margin: 250px 40px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    height:120px;
    width: 200px;
    position: relative;
    transition: all 5s ease-in-out;
    text-align: center;
  }

 .newlist{
    margin: -10px  auto;
     text-align: center;
     font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: tomato;
 }


 .area{

    border-radius: 3px;
    border: 1px solid tomato;
    width: 150px;
    height: 30px;
    text-decoration: none;
    margin-left: 10px;

}

.button
{
    position: absolute;
    border-radius: 30px;
    background-color: orangered;
    color: white;
    width: 75px;
    height: 41px;
    font-size: 20px;
    border-color: snow;
    text-align: center;
    margin-left: -30px;

}

}


