h1 {
    font-family: sans-serif;
    margin: 10px;
    font-size: 20px;
    position: relative;
    font-style: Arial;
  }
 
  body
{
  background-color:rgb(223, 221, 221);
}


.home
{
    border: 0px solid;
    background-color: crimson;
    height: 33px;
    width: 33px;
    border-radius: 25px;
    margin-top: -120px;
    margin-left: -70px;
    font-size: 30px;
    color: white;
    display: inline-block;
}

.text1
{
    font-family: Arial;
    margin-top: 10px;
    margin-left: -2px;
    font-size: 25px;
    font-weight: bold;
}

.main{

    margin-top: 100px;
    margin-left: 560px;
    background-color : white;
    padding: 100px;
    width: 130px;
    height:360px;
    padding-top: 60px;
}

.text
{
    font-family: sans-serif;
    font-stretch: ultra-condensed;
    color: darkgray;
   
}




.plus
{
    border: 0px solid;
    background-color: crimson;
    height: 33px;
    width: 33px;
    border-radius: 25px;
    margin-top: -35px;
    margin-left: 150px;
    text-align: center;
    font-weight: bolder;
    font-size: 30px;
    color: white;
}

  .parent
{
    border: 2px solid tomato;
    height: 350px;
    width: 250px;
    display: inline-block;
    border-radius: 10px;
    text-align: center;
    margin-left: -60px;
    box-shadow: 7px 6px rgb(211, 204, 204);
    position: relative;
    
}


.strike
{
    color:  tomato;
   /* text-decoration: line-through;
    text-decoration-color:solid red ; */
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.strike1
{
    position: absolute;
    width: 160px;
    border-top: 3px solid red;
    left: 40px;
    top:101px;
}

.trip
{
    font-family: arial;
    font-stretch: ultra-condensed;
    color: tomato;
    font-size: 30px;

}

input.checkbox
{
    font-size: 70px;
    margin-left: -40px;
    width: 20px;
    height: 20px;
    font-weight: bold;
}

.pending
{
   
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.plus
{
    border: 0px solid;
    background-color: crimson;
    height: 33px;
    width: 33px;
    border-radius: 25px;
    text-align: center;
    font-weight: bolder;
    font-size: 30px;
    color: white;
    display: inline-block;
    position: relative;
    bottom: -160px;
    right: -20px;
    
}


.area{

    border-radius: 3px;
    border: 1px solid tomato;
    width: 150px;
    height: 30px;
    text-decoration: none;
    margin-left: 10px;

}

.button
{
    position: absolute;
    border-radius: 30px;
    background-color: orangered;
    color: white;
    width: 75px;
    height: 41px;
    font-size: 20px;
    border-color: snow;
    text-align: center;
    margin-left: -30px;

}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }


  .popup {
    border: 2px solid tomato;
    margin: 300px 590px auto;
    padding: 40px;
    background: #fff;
    border-radius: 5px;
    height:100px;
    width: 200px;
    position: relative;
    transition: all 5s ease-in-out;
    text-align: center;
  }

 .newitem{
    margin: -10px  auto;
     text-align: center;
     font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: tomato;
 }
